@font-face {
    font-family: 'MontserratBold';
    src: url('/fonts/MontserratBold.eot');
    src: url('/fonts/MontserratBold.eot') format('embedded-opentype'),
         url('/fonts/MontserratBold.woff2') format('woff2'),
         url('/fonts/MontserratBold.woff') format('woff'),
         url('/fonts/MontserratBold.ttf') format('truetype'),
         url('/fonts/MontserratBold.svg#MontserratBold') format('svg');
}
@font-face {
    font-family: 'MontserratRegular';
    src: url('/fonts/MontserratRegular.eot');
    src: url('/fonts/MontserratRegular.eot') format('embedded-opentype'),
         url('/fonts/MontserratRegular.woff2') format('woff2'),
         url('/fonts/MontserratRegular.woff') format('woff'),
         url('/fonts/MontserratRegular.ttf') format('truetype'),
         url('/fonts/MontserratRegular.svg#MontserratRegular') format('svg');
}
@font-face {
    font-family: 'CrimsonTextRoman';
    src: url('/fonts/CrimsonTextRoman.eot');
    src: url('/fonts/CrimsonTextRoman.eot') format('embedded-opentype'),
         url('/fonts/CrimsonTextRoman.woff2') format('woff2'),
         url('/fonts/CrimsonTextRoman.woff') format('woff'),
         url('/fonts/CrimsonTextRoman.ttf') format('truetype'),
         url('/fonts/CrimsonTextRoman.svg#CrimsonTextRoman') format('svg');
}
@font-face {
    font-family: 'CrimsonTextItalic';
    src: url('/fonts/CrimsonTextItalic.eot');
    src: url('/fonts/CrimsonTextItalic.eot') format('embedded-opentype'),
         url('/fonts/CrimsonTextItalic.woff2') format('woff2'),
         url('/fonts/CrimsonTextItalic.woff') format('woff'),
         url('/fonts/CrimsonTextItalic.ttf') format('truetype'),
         url('/fonts/CrimsonTextItalic.svg#CrimsonTextItalic') format('svg');
}
@font-face {
    font-family: 'RighteousRegular';
    src: url('/fonts/RighteousRegular.eot');
    src: url('/fonts/RighteousRegular.eot') format('embedded-opentype'),
         url('/fonts/RighteousRegular.woff2') format('woff2'),
         url('/fonts/RighteousRegular.woff') format('woff'),
         url('/fonts/RighteousRegular.ttf') format('truetype'),
         url('/fonts/RighteousRegular.svg#RighteousRegular') format('svg');
}
@font-face {
    font-family: 'NothingYouCouldDo';
    src: url('/fonts/NothingYouCouldDo.eot');
    src: url('/fonts/NothingYouCouldDo.eot') format('embedded-opentype'),
         url('/fonts/NothingYouCouldDo.woff2') format('woff2'),
         url('/fonts/NothingYouCouldDo.woff') format('woff'),
         url('/fonts/NothingYouCouldDo.ttf') format('truetype'),
         url('/fonts/NothingYouCouldDo.svg#NothingYouCouldDo') format('svg');
}